<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container-404 mt-20">
        <div class="m-auto">
            <h1 class="text-8xl mb-4">404</h1>
            <img src="images/sad.png" alt="sadEmoji" class="emoji m-auto mb-4">
            <h2 class="text-xl mb-4 font-bold text-gray-700">A megadott url-hez nem tartozik fájl.</h2>
            <div class="back-btn w-40 h-9 m-auto text-gray-800 hover:bg-yellow-500 flex items-center"><a href="/" class="m-auto">Vissza a főoldalra</a></div>
        </div>
    </div>
</body>
</html>