<div class="indexImg-container">
  <img class="indexImg  w-full" src="images/k.jpg" alt="fast-food">
<div>
  <section class="text-xl md:text-2xl lg:text-3xl text-center mt-5">
    <span class="block">Üvözöldjük a Hamizóban!</span>
    <span>Válasszon bátran alábbi finomságaink közül!</span>
  </section>
<section class="flex content-center justify-around py-10 food-types">
  <div class="w-full pt-3 md:w-52 md:pt-0 bg-white text-center">
    <a class="mx-auto" href="/pizza">
      <img class="h-36 md:h-48 mx-auto pt-2" src="images/pizza.jpg" alt="pizza">
      <span class="food-span">Pizzák</span>
    </a>
  </div>
  <div class="w-full pt-3 md:w-52 md:pt-0 bg-white text-center">
    <a class="mx-auto" href="/hamburger">
      <img class="h-36 w-36 md:w-48 md:h-48 mx-auto pt-2" src="images/hamburger.jpg" alt="hamburger">
      <span class="food-span">Hamburgerek</span>
    </a>
  </div>
  <div class="w-full pt-3 md:w-52 md:pt-0 bg-white text-center">
    <a class="mx-auto" href="/palacsinta">
      <img class="h-36 md:h-48 mx-auto pt-2" src="images/palacsinta.jpg" alt="palacsinta">
      <span class="food-span">Palacsinták</span>
    </a>
  </div>
  <div class="w-full pt-3 md:w-52 md:pt-0 bg-white text-center">
    <a class="mx-auto" href="/udito">
      <img class="h-36 w-36 md:w-48 md:h-48 mx-auto pt-2" src="images/üdítő.jpg" alt="üdítő">
      <span class="food-span">Üdítők</span>
    </a>
  </div>
</section>
