<form class="form bg-white rounded-md p-12" action= <%= url %>
      method="POST" autocomplete="off">
  <h2 class="mb-4">Jelszó változtatás a következő emailhez: <%= email %></h2>
  <div class="mb-4">
    <label for="password1" class="block text-gray-700 font-bold mb-2">Jelszó</label>
    <input type="password" id="password1" name="password1" class="label" required>
  </div>
  <div class="mb-4">
    <label for="password2" class="block text-gray-700 font-bold mb-2">Írja be ismét a jelszót</label>
    <input type="password" id="password2" name="password2" class="label" required>
  </div class="mb-6">
  <button class="reg-btn text-sm" type="submit">Elküld</button>
  <% if (messages.error || messages.password) { %>
    <div class="mt-2">
      <span class="text-red-700"><%= messages.error? messages.error : messages.password %></span>
    </div>
    <% } %> 
</form>
